.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;

    .title {
        margin-top: 20px;
    }
    nav li {
        float: left;
        margin-right: 20px;
    }
    .content {
        padding: 20px;
    }
}
